body {
  background: #6240df;
  font-family: Assistant, sans-serif;
  display: flex;
  min-height: 90vh;
}
.signup {
  color: white;
  background: #0c7196;
  background: 
    -webkit-linear-gradient(to right, #8b2a66, #991387);
  background: 
    linear-gradient(to right, #382678, #136a8a);
  margin: auto;
  box-shadow: 
    0px 2px 10px rgba(0,0,0,0.2), 
    0px 10px 20px rgba(0,0,0,0.3), 
    0px 30px 60px 1px rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 50px;
}
.signup .head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup .head .company {
  font-size: 2.2em;
}
.signup .msg {
  text-align: center;
}
.signup .form input[type=text].text {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
}
.signup .form .text::placeholder {
  color: #D3D3D3;
}
.signup .form input[type=password].password {
  border: none;
  background: none;
  box-shadow: 0px 2px 0px 0px white;
  width: 100%;
  color: white;
  font-size: 1em;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.signup .form .password::placeholder {
  color: #D3D3D3;
}
.signup .form .button-signup {
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
}
.signup .form .button-signup:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}
.signup .forgot {
  text-decoration: none;
  color: white;
  float: right;
}
.signup .signin {
  text-decoration: none;
  color: white;
  float: right;
}
footer {
  position:fixed;
  color: #a5dcf0;
  bottom: 10px;
  padding-left: 20px;
}
footer p {
  display: inline;
}
footer a {
  color: rgb(12, 231, 12);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .heart {
  color: #f00b0b;
  font-size: 1.5em
}


.signup .form .signin {
  background: none;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 3px;
  padding: 5px 2em;
  transition: 0.5s;
}
.signup .form .signin:hover {
  background: white;
  color: dimgray;
  transition: 0.5s;
}